# Data
data/*.csv

# Jupyter
.ipynb_checkpoints/

# Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/

# Editor / IDE
.spyderproject
.spyproject
.ropeproject
.vscode/

# Pyre / mypy / pytype / Cython
.mypy_cache/
.dmypy.json
.dmypy.json
.pyre/
.pytype/
cython_debug/

# Others
.DS_Store
*.manifest
*.spec
*.log